/*
	Informacoes do Arquivo
	============================================================

	Arquivo.........: colors.scss
	Versao..........: 1.0
	Data de Criacao.: 25/07/2024

	============================================================
*/

:root {
    // Primárias
    --color-primary-x-dark:  #F45B06;
    --color-primary-light:  #FAB183;
    --color-primary-x-light:  #F5F2E3;

    // Font-color
    --color-primary-font-dark:  #4F4F4F;
    --color-primary-font-light:  #828282;
}