#about {
    overflow: hidden;

    .full-header {
        position: relative;
        contain: layout;

        &::after {
            position: absolute;
            left: 50%;
            transform: translateY(-50%) translateX(-50%);

            content: '';
            display: block;
            width: 100vw;
            max-width: 100vw;
            min-height: 80px;
            background-image: url(../images/bg-lines.png);
        }

        .image-header {
            @media (max-width: 990px) {
                margin-inline-start: -12px;
                margin-inline-end: -12px;
            }

            img {
                display: block;
                margin: 0 auto;
            }
        }

        .shares {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: -40px;
            z-index: 1;

            display: flex;
            justify-items: center;
            gap: 10px;

            display: none;

            .share {
                text-decoration: none;
            }
        }
    }

    .about-content {
        margin-top: 75px;

        .content {
            color: #828282;
            font-family: Roboto;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 40px;

            h2,
            h3,
            h4,
            h5,
            h6 {
                color: #F45B06;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 900;
                line-height: normal;
                text-transform: uppercase;

                @media (max-width: 990px) {
                    font-size: 14px;
                }
            }

            p {
                color: #828282;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

                @media (max-width: 990px) {
                    font-size: 14px;
                }
            }

            strong {
                color: #828282;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;

                @media (max-width: 990px) {
                    font-size: 14px;
                }
            }

            a {
                color: #828282;
                font-family: Roboto;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                text-decoration-line: underline;

                @media (max-width: 990px) {
                    font-size: 14px;
                }
            }
        }
    }
}

.page-quem-somos {
    #posts {
        margin-top: 30px;
    }
}